<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664044521517-uea7kn9gpls3931dub2lb4qq47ch5b42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664044521517-uea7kn9gpls3931dub2lb4qq47ch5b42</string>
	<key>API_KEY</key>
	<string>AIzaSyDwOL9JsZ2dJXHZLbX_0EQAuWNYNP0xfs4</string>
	<key>GCM_SENDER_ID</key>
	<string>664044521517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emersonbarina.flutterDemoTheme</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-16887</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-16887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664044521517:ios:2e0cb06155e990ad9d50a4</string>
</dict>
</plist>